body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(185, 238, 247);

  padding: 20px;
  width: 50%;
  margin-left: 25%;
}

#printCharacter {
  font-size: 100px;
  color: #00c9a7;
}

.myClass {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
/* 
#minutesDisplay,
#secondsDisplay {
    margin-left: 80%;
} */

#timer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  align-items: center;
  padding-right: 50px;
  color: #00c9a7;
}

#result {
  display: none;
  font-size: 30px;
}

#reset {
  width: 100px;
  height: 80px;
  font-weight: bold;
  border: 2px solid black;
  border-radius: 40px;
  background-color: #28839f;
  margin-left: 20px;
  margin-top: 20px;
}

#start {
  width: 80px;
  height: 80px;
  font-weight: bold;
  border-radius: 40px;
  border: 2px solid black;
  background-color: #28839f;
  margin-left: 350px;
}

#start:active {
  background-color: black;
  color: #28839f;
}

#reset:active {
  background-color: black;
  color: #28839f;
}

/* #input {
  visibility: hidden;
} */
#input {
  visibility: hidden;
}

#correctEnteredCharacters {
  color: #00c9a7;
}

#incorrectEnteredCharacters {
  color: rgba(235, 28, 9, 0.596);
}

#game {
  display: none;
  border: 20px ridge #00c9a7;
  border-radius: 20px;
  width: 100vh;
  height: 85vh;
}

#gameInstructions {
  color: #00c9a7;
  font-size: 30px;
  display: flex;
  width: 60vw;
  flex-direction: column;
}

#resetDisplay {
  display: flex;
  justify-content: space-evenly;
}

#message {
  display: flex;
  justify-content: center;
}
