body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(185,238,247);
  
  padding: 20px;
  width: 50%;
  margin-left: 25%;

}

#printCharacter {
  font-size: 100px;
  color: #00C9A7;
}


.myClass {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  flex-direction: column;
}
/* 
#minutesDisplay,
#secondsDisplay {
    margin-left: 80%;
} */

#timer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    align-items: center;
    padding-right: 50px;
    color: #00C9A7;
}

#result {
    display: none;
    font-size: 30px;
}

#reset {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #28839F;
}

#start {
      width: 80px;
      height: 80px;
      border-radius: 40px;
      background-color: #28839F;
      margin-left: 350px;
    
}

#start:active {
  background-color: black;
  color: #28839F;
}

#reset:active {
    background-color: black;
    color: #28839F;
}


/* #input {
  visibility: hidden;
} */
#input {
    visibility: hidden;
}

#correctEnteredCharacters {
  color: #00C9A7;
}

#incorrectEnteredCharacters {
  color: rgba(235, 28, 9, 0.596)
}

#game {
  display: none;
  border: 2px ridge #00C9A7;
}

#gameInstructions {
  color: #00C9A7;
  font-size: 30px;
  display: flex;
  width: 60vw;
  flex-direction: column;
}